<%- include('common/nav.ejs') %>
<h1>
  Login page
</h1>

<form action="">
  <input type="text" name="email" /><br><br>
  <input type="password" name="password" /><br><br>
  <button type="submit">Login</button>
</form>