<ul class="nav">
  <li><a href="/">Home</a></li>
  <li><a href="login">Login</a></li>
  <li><a href="profile/Yaqoob">Profile</a></li>
</ul>

<style>
  body {
    background-color: tomato;
    color: white;
  }
  a{
    color: whitesmoke;
  }
  .nav li {
    display: inline-block;
  }

  
</style>