<html>
  <head>
    <meta charset="UTF-8"/> 
    <title>Node App</title>
  </head>

  <body>
    <h3>Node Express and MongoDB</h3>
    <form action="/quotes" method="POST">
     <input type="text" placeholder="name" name="name"/><br><br>
     <input type="text" placeholder="quote" name="quote"/><br><br>
     <button type="submit">Submit</button>
    </form>
    <!-- <%= quotes %> -->

    <h2>Add a quote</h2>
    <ul class="quotes">
      <% for(var i=0; i<quotes.length; i++) { %> 
        <li class="quote">
          <span><%= quotes[i].name%></span>:
          <span><%= quotes[i].quote%></span>
        </li>
      <%}
      %>
    </ul>
  </body>
</html>



